body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('images/white-grey-scratone.png');
    position: relative;
}

.page_1 {
    height: 2360px;
}

.page_2 {
    height: 1990px;
}

.page_3 {
    height: 747px;
}

.page_4 {
    height: 2030px;
}

header {
    height: 210px;
    text-align: center;
}

@keyframes tilt-n-move-shaking {
    0% { 
        transform: translate(0, 0)
        rotate(0deg); 
    }
    25% { 
        transform: translate(5px, 5px)
        rotate(5deg); 
    }
    50% { 
        transform: translate(0, 0) 
        rotate(0eg); 
    }
    75% { 
        transform: translate(-5px, 5px)
        rotate(-5deg); 
    }
    100% { 
        transform: translate(0, 0)
        rotate(0deg); 
    }
}

.runningabout {
    display: inline-block;
    position: relative;
    animation: tilt-n-move-shaking 0.25s 2;
}

nav ul {
    list-style-type: none;
    background-color: gray;
    border: 3px solid black;
    border-radius: 30px;
    padding: 24px;
    height: 30px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

nav li {
    line-height: 31px;
}

nav a {
    padding: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: 0.5s;
}

nav a:hover {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.content {
    width: 92%;
    margin: auto;
}

article a {
    color: #2980b9;
}

article a:hover {
    color: #1b557a;
}

article a:active {
    color: #f90;
}

article a:visited {
    color: #800080;
}

article a:visited:active {
    color: #f90;
}

img {
    border: 2px solid black;
    border-radius: 5px;
}

article p {
    margin-top: 10px;
}

h2 {
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-style: italic;
    margin-bottom: 10px;
}

.content li {
    margin-bottom: 10px;
}

.before {
    margin-bottom: 12px;
}

article ul {
    margin-top: 12px;
}

footer {
    height: 84px;
    width: 91%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 0 0 10px;
    margin: 35px auto 20px;
    background-color: #F4F6FA;
    border: solid 1px #747d8c;
}

@media (max-width: 1400px) {
    .page_2 {
        height: 2090px;
    }
}

@media (max-width: 1350px) {
    .page_1 {
        height: 2460px;
    }
}

@media (max-width: 1220px) {
    .page_1 {
        height: 2560px;
    }
    .page_2 {
        height: 2190px;
    }
    .page_4 {
        height: 2130px;
    }
}

@media (max-width: 1120px) {
    .page_3 {
        height: 847px;
    }
}

@media (max-width: 1105px) {
    .page_1 {
        height: 2660px;
    }
    .page_2 {
        height: 2290px;
    }
}

@media (max-width: 1055px) {
    .page_1 {
        height: 2960px;
    }
}

@media (max-width: 1010px) {
    .page_1 {
        height: 3060px;
    }
    .page_2 {
        height: 2390px;
    }
}

@media (max-width: 970px) {
    .page_4 {
        height: 2230px;
    }
}

@media (max-width: 930px) {
    .page_1 {
        height: 3160px;
    }
}

@media (max-width: 870px) {
    .page_1 {
        height: 2900px;
    }
    
    .page_2 {
        height: 2470px;
    }
    
    .page_3 {
        height: 900px;
    }
    
    .page_4 {
        height: 2270px;
    }
    
    header {
        width: 94vw;
        height: 210px;
        text-align: center;
        margin: auto;
    }

    main {
        margin: auto;
    }

    .hide {
        display: none;
    }

    .hidden {
        display: inline;
    }

    img {
        border: 1px solid black;
    }

    .page_1 img {
        width: 60%;
    }

    .page_4 img {
        width: 40%;
    }
}

@media (max-width: 810px) {
    .page_2 {
        height: 2570px;
    }
}

@media (max-width: 770px) {
    .page_1 {
        height: 3000px;
    }
}

@media (max-width: 740px) {
    .page_2 {
        height: 2670px;
    }
    .page_3 {
        height: 1000px;
    }
}

@media (max-width: 700px) {
    .page_1 {
        height: 3100px;
    }
}

@media (max-width: 675px) {
    .page_1 {
        height: 3140px;
    }
    
    .page_2 {
        height: 2770px;
    }
    .page_3 {
        height: 1045px;
    }
    header {
        height: 190px;
    }
    nav ul{
        height: 25px
    }
    nav li {
        line-height: 26px;
    }
}

@media (max-width: 630px) {
    .page_1 {
        height: 3240px;
    }
    
    .page_2 {
        height: 2870px;
    }
}

@media (max-width: 580px) {
    .page_2 {
        height: 2970px;
    }
}

@media (max-width: 570px) {
    .page_1 {
        height: 3340px;
    }
    .page_2 {
        height: 3070px;
    }
    .page_3 {
        height: 1145px;
    }
}

@media (max-width: 555px) {
    .page_1 {
        height: 3440px;
    }
    .page_4 {
        height: 2430px;
    }
}

@media (max-width: 530px) {
    .page_2 {
        height: 3170px;
    }
}

@media (max-width: 520px) {
    .page_1 {
        height: 3540px;
    }
}

@media (max-width: 502px) {
    .page_1 {
        height: 3640px;
    }
    .page_2 {
        height: 3270px;
    }
    nav ul {
        height: 20px;
    }
    nav li {
        line-height: 21px;
    }    
}

@media (max-width: 495px) {
    .page_4 {
        height: 2530px;
    }
}

@media (max-width: 490px) {
    .page_1 {
        height: 3740px;
    }
    .page_3 {
        height: 1245px;
    }
}


@media (max-width: 472px) {
    .page_2 {
        height: 3370px;
    }
}

@media (max-width: 462px) {
    .page_1 {
        height: 3840px;
    }
    .page_2 {
        height: 3470px;
    }
}

@media (max-width: 440px) {
    .page_1 {
        height: 3940px;
    }
    .page_2 {
        height: 3570px;
    }
    .page_3 {
        height: 1345px;
    }
    .page_4 {
        height: 2630px;
    }
}

@media (max-width: 422px) {
    .page_1 {
        height: 4040px;
    }
    .page_2 {
        height: 3670px;
    }
}

@media (max-width: 407px) {
    .page_1 {
        height: 4140px;
    }
    .page_2 {
        height: 3770px;
    }
}

@media (max-width: 395px) {
    .page_2 {
        height: 3870px;
    }
    .page_3 {
        height: 1445px;
    }
}

@media (max-width: 390px) {
    .page_1 {
        height: 4240px;
    }
}

@media (max-width: 382px) {
    .page_1 {
        height: 4340px;
    }
    .page_4 {
        height: 2730px;
    }
}

@media (max-width: 370px) {
    .page_1 {
        height: 4440px;
    }
}

@media (max-width: 375px) {
    .page_2 {
        height: 3970px;
    }
}



@media (max-width: 530px) {
    nav {
        width: 98%;
    }
    nav a {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    nav a {
        font-size: 23px;
    }
}

@media (max-width: 480px) {
    nav a {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    nav a {
        font-size: 21px;
    }
}

@media (max-width: 430px) {
    nav {
        width: 97%;
    }
    nav a {
        font-size: 20px;
    }
}

@media (max-width: 410px) {
    nav a {
        font-size: 19px;
    }
}

@media (max-width: 400px) {
    nav a {
        font-size: 18px;
    }
}

@media (max-width: 370px) {
    nav a {
        font-size: 17px;
    }
}
